logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
.DS_Store
ehthumbs.db
Thumbs.db
node_modules
typings
dist/public
/public/__build__/
/src/*/__build__/
__build__/**
build/**
compiled
compiled/**
/**/*.gz
/**/*.zip
.idea/
*.swp
/**/*.ngfactory.ts
/**/*.map